<h2 mat-dialog-title>CONSULTA UNIDAD MEDIDA</h2>

<mat-dialog-content name="consulta" class="consulta-container">
  <mat-form-field class="inputInput">
    <mat-label class="labelI">Nombre Unidad Medida</mat-label>
    <input matInput value="{{ data.nombre }}" disabled="true" />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions class="justify-content-center">
  <div class="col-md-6">
    <button
      mat-raised-button
      class="colorFondoBotonCancelar"
      mat-dialog-close
      [disabled]="false"
    >
      CERRAR
    </button>
  </div>
</mat-dialog-actions>
