<h2 mat-dialog-title class="pt-3">CAMBIO DE CONTRASEÑA</h2>

<mat-dialog-content [formGroup]="modificaContrasena()" name="modificaContrasena" class="modifica-container">

  <h3>Recuerde que la contraseña debe tener como máximo 10 caracteres</h3>
  <mat-divider class="mb-4"></mat-divider>

  <mat-form-field>
    <input type="password" matInput placeholder="Ingrese Contraseña Actual" maxlength="10" [formControl]="contrasenaActual"  required>
    @if (contrasenaActual.invalid) {
      <mat-error>{{getErrorMessage('contrasenaActual')}}</mat-error>
    }
  </mat-form-field>
  @if (!existeContrasenaActual()) {
    <pre >{{mensajeErrorContrasenaActual}}</pre>
  }
  <mat-form-field>
    <input type="password" matInput placeholder="Ingrese Contraseña" maxlength="10" [formControl]="contrasena"  required>
    @if (contrasena.invalid) {
      <mat-error>{{getErrorMessage('contrasena')}}</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Repetir contraseña" maxlength="10" [formControl]="contrasena2"  required>
    @if (contrasena2.invalid) {
    <mat-error>{{getErrorMessage('contrasena2')}}</mat-error>
    }

  </mat-form-field>
  @if (checarSiSonIguales()) {
    <pre >Las contraseñas no coinciden</pre>
  }
</mat-dialog-content>

<mat-dialog-actions>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <button class="colorFondoBotonGrabar" mat-raised-button  (click)="enviar()"   [disabled]="modificaContrasena().invalid">GRABAR</button>
    </div>
  </div>
</mat-dialog-actions>
