<h2 mat-dialog-title>AGREGA CLIENTE</h2>

<mat-dialog-content
  [formGroup]="agregaCliente()"
  name="agregaCliente"
  class="agrega-container"
>
  <mat-form-field class="inputInput">
    <mat-label class="labelI">Rut Cliente</mat-label>
    <input
      autofocus
      id="rutCliente"
      matInput
      class="input-rut rut"
      [formControl]="rutCliente"
      oninput="this.value = this.value.toUpperCase()"
      (blur)="onBlurRutCliente($event)"
      validaRut
      required
    />
    @if (rutCliente.invalid) {
    <mat-error>{{ getErrorMessage("rutCliente") }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="inputInput">
    <mat-label class="labelI">Razón Social</mat-label>
    <input matInput [formControl]="razonSocial" required />
    @if (razonSocial.invalid) {
    <mat-error>{{ getErrorMessage("razonSocial") }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="inputInput">
    <mat-label class="labelI">Nombre de Fantasía</mat-label>
    <input matInput [formControl]="nombreFantasia" required />
    @if (nombreFantasia.invalid) {
    <mat-error>{{ getErrorMessage("nombreFantasia") }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="inputInput">
    <mat-label class="labelI">Dirección</mat-label>
    <input matInput [formControl]="direccion" required />
    @if (direccion.invalid) {
    <mat-error>{{ getErrorMessage("direccion") }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="inputInput">
    <mat-label class="labelI">Teléfono</mat-label>
    <input matInput [formControl]="telefono" required />
    @if (telefono.invalid) {
    <mat-error>{{ getErrorMessage("telefono") }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="inputInput">
    <mat-label class="labelI">Email</mat-label>
    <input matInput [formControl]="email" required />
    @if (email.hasError('email') && !email.hasError('required')) {
    <mat-error>Email Mal Ingresado</mat-error>
    } @if (email.invalid) {
    <mat-error>{{ getErrorMessage("email") }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="inputInput">
    <mat-label class="labelI">Nombre Contacto</mat-label>
    <input matInput [formControl]="nombreContacto" required />
    @if (nombreContacto.invalid) {
    <mat-error>{{ getErrorMessage("nombreContacto") }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="inputInput">
    <mat-label class="labelI">Email Recepción EXAMEN</mat-label>
    <input matInput [formControl]="emailRecepcionExamenCliente" required />
    @if (emailRecepcionExamenCliente.hasError('email') &&
    !emailRecepcionExamenCliente.hasError('required')) {
    <mat-error>Email Mal Ingresado</mat-error>
    } @if (emailRecepcionExamenCliente.invalid) {
    <mat-error>{{ getErrorMessage("emailRecepcionExamenCliente") }}</mat-error>
    }
  </mat-form-field>
  <!--
  <mat-list>
    <mat-list-item>Datos de Envío de Email</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>

  <mat-form-field>
    <input matInput placeholder="Ingrese Envío Email " [formControl]="emailEnvio" required>
    <mat-error *ngIf="emailEnvio.invalid">{{getErrorMessage('emailEnvio')}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ingrese Contraseña " [formControl]="password" required>
    <mat-error *ngIf="password.invalid">{{getErrorMessage('password')}}</mat-error>
  </mat-form-field>

  <mat-form-field class="inputInput">
    <mat-label class="labelI">Nombre Desde</mat-label>
    <input matInput [formControl]="nombreDesde" required>
    <mat-error *ngIf="nombreDesde.invalid">{{getErrorMessage('nombreDesde')}}</mat-error>
  </mat-form-field>

  <mat-form-field class="inputInput">
    <mat-label class="labelI">Asunto</mat-label>
    <input matInput [formControl]="asunto" required>
    <mat-error *ngIf="asunto.invalid">{{getErrorMessage('asunto')}}</mat-error>
  </mat-form-field>

  <mat-form-field class="inputInput">
    <mat-label class="labelI">Título Cuerpo</mat-label>
    <input matInput [formControl]="tituloCuerpo" required>
    <mat-error *ngIf="tituloCuerpo.invalid">{{getErrorMessage('tituloCuerpo')}}</mat-error>
  </mat-form-field>

  <div>
    <span class="labelI">Título Cuerpo </span>
  </div>
  <div >
    <ckeditor [formControl]="tituloCuerpo"></ckeditor>
  </div>


  <mat-form-field class="inputInput">
    <mat-label class="labelI">Título Cuerpo Medio</mat-label>
    <input matInput [formControl]="tituloCuerpoMedio" required>
    <mat-error *ngIf="tituloCuerpoMedio.invalid">{{getErrorMessage('tituloCuerpoMedio')}}</mat-error>
  </mat-form-field>


  <mat-form-field class="inputInput">
    <mat-label class="labelI">Título Cuerpo Pie</mat-label>
    <input matInput [formControl]="tituloCuerpoPie" required>
    <mat-error *ngIf="tituloCuerpoPie.invalid">{{getErrorMessage('tituloCuerpoPie')}}</mat-error>
  </mat-form-field>
-->
</mat-dialog-content>

<mat-dialog-actions>
  <div class="col-md-6">
    <button
      mat-raised-button
      class="colorFondoBotonCancelar"
      mat-dialog-close
      [disabled]="false"
    >
      Cerrar
    </button>
  </div>
  <div class="col-md-6">
    <button
      class="colorFondoBotonGrabar"
      mat-raised-button
      (click)="enviar()"
      [disabled]="agregaCliente().invalid"
    >
      GRABAR
    </button>
  </div>
</mat-dialog-actions>
