<h2 mat-dialog-title>AGREGA DOCTOR SOLICITANTE</h2>

<mat-dialog-content
  [formGroup]="agregaDoctorSolicitante()"
  name="agregaDoctorSolicitante"
  class="agrega-container"
>
  <mat-form-field class="inputInput">
    <mat-label class="labelI">Nombre Doctor Solicitante</mat-label>
    <input matInput [formControl]="nombre" required />
    @if (nombre.invalid) {
    <mat-error>{{ getErrorMessage("nombre") }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="inputSelect">
    <mat-label class="labelI">Cliente</mat-label>
    <mat-select [formControl]="idCliente" required>
      @for(_cliente of datoCliente(); track _cliente){
      <mat-option [value]="_cliente">
        {{ _cliente.nombreFantasia }}
      </mat-option>
      }
    </mat-select>
    @if (idCliente.invalid) {
    <mat-error>{{ getErrorMessage("idCliente") }}</mat-error>
    }
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="col-md-6">
    <button
      mat-raised-button
      class="colorFondoBotonCancelar"
      mat-dialog-close
      [disabled]="false"
    >
      CANCELAR
    </button>
  </div>
  <div class="col-md-6">
    <button
      class="colorFondoBotonGrabar"
      mat-raised-button
      (click)="enviar()"
      [disabled]="agregaDoctorSolicitante().invalid"
    >
      GRABAR
    </button>
  </div>
</mat-dialog-actions>
