<h2 mat-dialog-title>FORMATO EXAMEN {{ data.nombre }}</h2>

<div class="consulta-container">
  <div class="mt-2">
    <div class="row border border-dark border-top-0"></div>
    @for(item of data.formato?.formato3?.resultado; track item){
    <div class="row altura">
      <div
        class="col-md-3 border border-dark alineaV border-end-0 border-top-0 destacado"
      >
        {{ item.nombre }}
      </div>
      <div class="col-md-9 border border-top-0 border-dark">
        {{ item.resultado }}
      </div>
    </div>
    }
  </div>

  <div class="col-md-12 mt-5">
    <button
      mat-raised-button
      class="colorFondoBotonCancelar"
      mat-dialog-close
      [disabled]="false"
    >
      CERRAR
    </button>
  </div>
</div>
