.consulta-container {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
}

.consulta-container > * {
  width: 95%;
}

.mat-mdc-raised-button {
  min-width: 100%;
}

.mat-dialog-container {
  padding: 50px !important;

}

.mat-dialog-content{
  margin: 0;
}


.mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input {
  transition: opacity 150ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
  color: black;
}
