<h2 mat-dialog-title>AGREGA Unidad Medida</h2>

<mat-dialog-content
  [formGroup]="agregaUnidadMedida()"
  name="agregaUnidadMedida"
  class="agrega-container"
>
  <mat-form-field class="inputInput">
    <mat-label class="labelI">Nombre Unidad Medida</mat-label>
    <input matInput placeholder="Nombre" [formControl]="nombre" required />
    @if(nombre.invalid){
    <mat-error>{{ getErrorMessage("nombre") }}</mat-error>
    }
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="col-md-6">
    <button
      mat-raised-button
      class="colorFondoBotonCancelar"
      mat-dialog-close
      [disabled]="false"
    >
      CANCELAR
    </button>
  </div>
  <div class="col-md-6">
    <button
      class="colorFondoBotonGrabar"
      mat-raised-button
      (click)="enviar()"
      [disabled]="agregaUnidadMedida().invalid"
    >
      GRABAR
    </button>
  </div>
</mat-dialog-actions>
